<div class="jumbotron">
  <h1>probless</h1>
  <p><b>progless</b> is a web app which aims to minimize <b>prob</b>lems as <b>less</b> as possible.</p>
  <p>This app collects problems from anyone and binds the problems to others who can give advice or solve the problems.</p>
  <%= link_to "Learn more >>", about_path, class: "btn btn-primary btn-lg" %>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Submit your problems</h2>
    <p>
      You can submit any problems you have.
    </p>
    <p>
      Submitted problems will be listed with a number how many people agree with you.
      The problems with larger number means they should be solved with higher proirity.
    </p>
    <%= link_to "View problems", problems_path, class: "btn btn-default" %>
  </div>
  <div class="col-lg-4">
    <h2>Propose your solutions</h2>
    <p>
      You can also propose any solutions you think.
    </p>
    <p>
      Proposed solutions are binded to problems so that submitter of the problem can find solutions and pick the best one.
      Solutions which other people proposed might be good hints for you to think better alternatives.
    </p>
    <%= link_to "View solutions", solutions_path, class: "btn btn-default" %>
  </div>
  <div class="col-lg-4">
    <h2>Vote others</h2>
    <p>
      You can simply vote problems and/or solutions from other people which you agree with.
    </p>
  </div>
</div>
