<div class="container">
  <div class="jumbotron">
    <h1>probless</h1>
    <p>progless is a web app which aims to minimize problems as less as possible.</p>
    <p>This app collects problems from anyone and binds the problems to others who can give advice or solve the problems.</p>
    <p><a class="btn btn-primary btn-lg" href="#about">Learn more &raquo;</a></p>
  </div>
</div>
