<li>
  <span class="url"><%= video.url %></span><br>
  <span class="title"><%= video.title %></span><br>
  <span class="description"><%= video.description %></span><br>
  <span class="timestamp">
    Submitted <%= time_ago_in_words(video.created_at) %> ago.
  </span>
</li>
