<% provide(:title, "All videos") %>

<h1>All videos</h1>

<%= link_to "Add video", new_video_path, class: "btn btn-primary pull-right" %>

<%= will_paginate @videos, renderer: BootstrapPagination::Rails, bootstrap: 3 %>

<ul class="videos">
  <%= render @videos %>
</ul>

<%= will_paginate @videos, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
