
//// header

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #ddd;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


//// body

body {
  padding-top: 60px;
}


.center {
  text-align: center;
}

.date {
  font-size: 12px
}
