<% provide(:title, "Solutions") %>

<h1>Solutions</h1>

<p><%= link_to "Add new solution", new_solution_path %></p>

<ul>
  <% @solutions.each do |solution| %>
  <li>
    <%= link_to solution.title, solution_path(solution.id) %>
    <%= link_to "[Edit]", edit_solution_path(solution.id) %>
    <%= link_to "[Delete]", solution_path(solution.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ui>
